.tableContainer {
    display: grid;
    grid-template-columns: repeat(10, 50px [col-start])
}

.tableCell {
    background-color: #242424;
    min-width: 30px;
    padding: 3px;
}

/* .tableCell:focus { */
/*     border: 3px solid red; */
/* } */

.bold {
    font-weight: 700;
}
